* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 205, 240);
  background: linear-gradient(
    90deg,
    rgba(255, 205, 240, 1) 0%,
    rgba(252, 151, 221, 1) 100%
  );
}

header a,
header label {
  display: block;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  line-height: 20px;
}

header a:hover,
header label:hover {
  color: rgb(0, 0, 0);
}

header label {
  float: right;
  padding: 18px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}

nav {
  visibility: hidden;
  float: right;
  max-height: 0;
  opacity: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.1s;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

nav li {
  display: block;
  text-align: center;
}

nav a {
  padding: 10px;
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ nav {
  max-height: 200px; /* This can be anything bigger than your nav height. The transition duration works with this */
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 700px) {
  header label {
    display: none;
  }

  nav {
    width: auto;
    max-height: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul {
    padding: 0;
    padding-right: 10px;
  }

  nav li {
    display: inline-block;
    text-align: left;
  }

  header nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }

  .icon-header {
    display: none;
  }
}

.icon-header {
  margin-left: 182px;
  width: 35px;
  height: 35px;
}

.catalogo-contenedor {
  display: block;
  justify-content: center;
}

.sock-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-catalogo {
  text-align: center;
  margin: 75px 0px 15px 0px;
}

.sock-contenedor {
  margin: 0px 0px 45px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 2px;
}

.sock-img {
  width: 370px;
  height: 490px;
}

.titulo {
  margin: 0px;
}
.sock-description {
  width: 100%;
  height: 50px;
  color: rgb(53, 53, 53);
}

.titulo {
  margin-left: 10px;
}
.precio {
  margin-left: 10px;
}

@media only screen and (min-width: 700px) {
  .catalogo-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 900px;
    margin: 0 auto;
  }
  .sock-img {
    width: 270px;
    height: 370px;
  }
  .sock-contenedor {
    margin: 0px 15px 45px 0px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(152, 138, 240);
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 3px solid #c850c0;
}
.info-footer {
  margin-top: 5px;
}
.icon-footer {
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

/*Style info.html*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  width: 100%;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  margin-top: 60px;
  color: rgb(255, 255, 255);
}

.info-contenedor {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 255px;
  width: 80%;
  padding: 10px;
}

h1 {
  margin: 0;
}

/*Style contacto.html*/

.formulario {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  color: white;
}

.contenedor-titulo-form {
  margin-top: 30px;
}

.contenedor-form {
  padding: 0 38px;
  align-items: center;
  margin-bottom: 25px;
}

.label {
  font-size: 18px;
  display: block;
  color: white;
}

.input-text,
.textarea {
  font-family: "Roboto";
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 24px;
  width: 100%;
  border-radius: 0;
  padding: 10px;
}

.textarea {
  min-height: 200px;
}

.button {
  margin-top: 50px;
  font-family: "Roboto";
  width: 100%;
  background-color: #ffd953;
  min-height: 40px;
  border: none;
}
p {
  margin: 0px;
  font-size: 15px;
}
